.image-point{
    grid-area: image;
    padding: 10px;
    height: 80px;
}

.image-point > img{
    width: 100%;
    height: 100%;
}


.content-point{
    grid-area: content;
}

.wrapper-point{
    height: 90px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "image content";
    border-bottom: 1px solid #eee;

}

.wrapper-point:hover{
    cursor: pointer;
    background-color: rgba(63, 83, 85, 0.05);
}


.name-point{
    grid-area: name;
}

.delete-point{
    grid-area: delete;
}

.delete-point > img{
    display: block;
    margin-left: auto;
    padding-right: 5px;
    padding-top: 5px;
    height: 40%;
    width: 40%;
}


.wrapper-content{
    padding-left:10px;
    padding-right:4px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name delete";
}

.date-point{
    grid-area: delete;
    width: 100%;
    margin-top: auto;
    text-align: end;
    font-size: small;
}

