.image-point{
    grid-area: image;
    padding: 10px;
    height: 80px;
}

.image-point > img{
    width: 100%;
    height: 100%;
}


.content-point{
    grid-area: content;
}

.wrapper-point{
    height: 90px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "image content";
    border-bottom: 1px solid #eee;

}

.wrapper-point:hover{
    cursor: pointer;
    background-color: rgba(63, 83, 85, 0.05);
}


.name-point{
    grid-area: name;
}

.date-point{
    grid-area: date;
    text-align: end;
    font-size: small;

}

.wrapper-content{
    padding-left:10px;
    padding-right:4px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "name"
    "date";
}

